*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4aaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 1100px;
    margin: 0px auto;
}
header{
    color:#F5FBEF;
    text-align: center;
    text-shadow: 1px 1px 10px;
    font-size: 250%;
    border-bottom: 3px; 
}

ul, ol{
    list-style: nones;
}

nav{
    background: #F5FBEF;
    height: 50px;
    border-radius: 15px;

}

nav ul li{
    float: left;
    list-style: none;
    text-decoration:nones;
    margin: 15px;
    line-height: 20px;
    text-align: center;
}

nav li a {
    text-decoration: none;
}

nav li a:hover{
    background:#58D3F7;
}

nav > li{
    float: center;
}

nav li ul {
    display:none;
    position:absolute;
    max-width: 140px;
}

nav li:hover >ul{
    display:block;
}
.quiz{
    background-color: #e3f6f5;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}

h1{
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question{
    font-size: 1.7rem;
    color: #5a6772;
}

.button{
    background-color: #34a3a3;
    color: #fff;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover{
    cursor: pointer;
    background-color: #57636e;
}

#progress{
    font-size: 20px;
}
footer{
    background:#F5FBEF;
    text-align:center;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    }
